/* css reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* generics */

body{
    background-color: lightgray;
    font-family: sans-serif;
}

h1{
    display: inline;
    font-size: 60px;
    font-weight: 800;
    vertical-align: middle;
}

.container-main{
    max-width: 780px;
    margin: 50px auto;
    background-color: white;
}

/* header  */

.container-header{
    background-color: white;
    padding: 15px;
}

#logo{
    height: 70px;
    vertical-align: middle;
}

/* section button-link */

.button-link{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

button{
    border: none;
    margin: 10px 0px 10px 30px;
    padding: 8px;
    background-color: dodgerblue;
    color: white;
    border-radius: 5px;
    font-size: large;
}

a{
    text-decoration: none;
    background-color: white;
    border: 1px solid grey;
    color: grey;
    padding: 8px;
    border-radius: 5px;
}

